
          <tr>
             <!--   <span data-bind="validationMessage: Code" class="errorMessage"></span>                  -->                                    
              <td><input type ="text" data-bind="event : { blur: $root.getErrorMessage }, value : Code , enable : !shouldDisplayEdit(), css: { 'readonlyInline': shouldDisplayEdit}, valueUpdate: 'afterkeyup', returnAction:$root.update " id ="Code" maxlength="10"></td>
             
              <td><input type ="text" data-bind="event : { blur: $root.getErrorMessage }, value : Name, enable : !shouldDisplayEdit(), css: { 'readonlyInline': shouldDisplayEdit}, valueUpdate: 'afterkeyup', returnAction:$root.update " id ="Name" maxlength="255"></td>
              <!--  <span data-bind="validationMessage: Name" class="errorMessage"></span>-->
              <td><input type ="text" data-bind="event : { blur: $root.getErrorMessage },  value : Price, enable : !shouldDisplayEdit(), css: { 'readonlyInline': shouldDisplayEdit}, valueUpdate: 'afterkeyup', returnAction:$root.update" id ="Price" ></td>
              <!--  <span data-bind="validationMessage: Price" class="errorMessage"></span>-->
              <td>
                  <span>
                      <select data-bind="options: $root.brands, optionsText: 'Name', optionsValue: 'Id', value: BrandId, enable:  !shouldDisplayEdit(), visible : shouldDisplayEdit" class="hidenSelect"></select>
                  </span>
                  <span data-bind="visible: !shouldDisplayEdit()">
                      <input type ="text" data-bind="event : { blur: $root.getErrorMessage }, autoComplete: $root.brands, value: BrandId, optionsText: 'Name', optionsValue: 'Id', autoCompleteOptions: {autoFocus: false}"  id ="Brand"/> 
                  </span>
                  
              </td>
              <!--  <span data-bind="validationMessage: BrandId" class="errorMessage"></span>-->
              <td>
                  <span>
                      <select data-bind="options: $root.categories, optionsText: 'Name', optionsValue: 'Id', value: CategoryId, enable:  !shouldDisplayEdit(), visible : shouldDisplayEdit" class="hidenSelect"></select>
                  </span>
                  <span data-bind="visible: !shouldDisplayEdit()">
                      <input type ="text" data-bind="event : { blur: $root.getErrorMessage }, autoComplete: $root.categories, value: CategoryId, optionsText: 'Name', optionsValue: 'Id', autoCompleteOptions: {autoFocus: false}"  id ="Category"/> 
                  </span>
                  
              </td>
              <!--  <span data-bind="validationMessage: CategoryId" class="errorMessage"></span>-->
              <td data-bind="visible: shouldDisplayEdit" id ="edit"><a  href="#" data-bind="click: $root.edit" >Edit</a></td>
              <td data-bind="visible: !shouldDisplayEdit()" id ="update"><a  href="#" data-bind="click: $root.update" >Update</a></td>
              <td data-bind="visible: !shouldDisplayEdit()" id ="cancel"><a  href="#" data-bind="click: $root.cancel" >Cancel</a></td>
              <td><a href="#" data-bind="click: $root.remove">Remove</a></td>
          </tr>

            